@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:bold');
@import url('https://fonts.googleapis.com/css?family=Inter:400,600,800');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 14px;
  color: #111;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

a:hover {
  opacity: 0.8;
}

img {
  max-width: 100%;
  display: block;
}

hr {
  background: #111;
  height: 1.5px;
  border: 0px;
}